@media (max-width: 480px){
    .user-detail-card{
        display: none;
    }
    .table-large{
        display: none;
    }
}
@media (min-width: 481px) and (max-width: 640px){
    .user-detail-card{
        display: none;
    }
    .table-large{
        display: none;
    }
}
@media (min-width: 640px) and (max-width: 991px) {
    .user-detail-card{
        display: block;
    }
    .table-large{
        display: none;
    }
}
@media (min-width: 991px) and (max-width: 1023px) {
    .user-detail-card{
        display: none;
    }
}